.container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: #212121;
  max-width: 600px;
  width: 100%;
  height: 100%;

  border-radius: 1rem;
  margin-bottom: 10rem;
  margin-top: 12rem;

  padding: 1rem;
}

.messsages {
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
}

.msg {
  padding: 8px 12px;
  border-radius: 8px;
  margin: 5px 0;
  width: 100%;
  max-width: 50%;

  &--user {
    background-color: #a6e84b;
    color: #000;
    align-self: flex-end;
    border-bottom-right-radius: 0;
  }

  &--bot {
    color: #dfdfdf;
  }
}

//

.greeting {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem 5rem;
  text-align: center;

  &__title {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 0.5rem 0;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 0.8rem;
    color: #8b8b8b;
  }
}
