.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  padding: 5rem 10rem;
  text-align: center;
}
