.technical-indicator {
  margin: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    th,
    td {
      padding: 10px;
      border: 1px solid #ddd;
      font-size: 1rem;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
      color: #444;
    }

    td {
      background-color: #fff;
      color: #444;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  }
}
