.stock-chart {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  &__title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }

  &__empty {
    text-align: center;
    font-size: 18px;
    color: #777;
  }
}
